#imgHeader {
  display: flex;
 margin: auto;
  width:80%;

}
.grass{color: green}
.water{color: blue}
.ice{color: #99ffff}
.dark{color:  #660033}
.bug{color: #339966}
.electric{color:darkblue;}

.pokeimage {
  background-color: #0099ff;
    -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 150px; 
  margin: .5vw;
  position: relative;
}
.pokemonSearch {
  margin-bottom: 10px;
  width:25%;
}
.pokemonList {
  cursor: pointer;
  max-height: 500px;
  overflow-x: hidden;
  height:100px;
  overflow:scroll;
  color: purple;
  list-style-type: none;
}
.pokemonList li:hover {
  background-color: lightgray;


}

.pokemonList li {
  flex: 1 0 25%;
  box-sizing: border-box;
  background: #e0ddd5;
  color: #171e42;
  padding: 10px;
}
.pokemonInfo {
  float:right;
  margin-right: 500px;
}
body {
  display: flex;
  justify-content: center;
  background: #66ccff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: white;
  margin: 0;
  padding: 30px;
}
a {
  color: #4183c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}
h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}
h1 {
  display: flex;
  text-align: center;
  
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}
h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
p, ul {
  margin: 15px 0;
}
ul {
  padding-left: 30px;
}
